In [68]:
import pandas as pd
import numpy as np

###  Задание #1

В большинстве случаев от вас потребуется написать функцию для выполнения различных статистических операций. Давайте разберем пример задания:

Напишите функцию NA_position, которая получает на вход два числовых вектора одинаковой длины. Функция должна возвращать TRUE, если позиции NA в обоих векторах совпадают или пропущенных значений вообще нет, и значение FALSE, если позиции NA в векторах не совпадают.

In [62]:
test_vec1 = pd.DataFrame([0, 22, 9, 22, 3, np.nan])
test_vec2 = pd.DataFrame([0, np.nan, 9, 22, 3, np.nan])

In [15]:
print(np.c_[test_vec1, test_vec2])

[[ 0.  0.]
 [nan 33.]
 [ 9.  9.]
 [22. 22.]
 [ 3.  3.]
 [nan nan]]

In [66]:
def NA_position(vec_1, vec_2): # принимаем два вектора
    vec_1 = np.array(vec_1) # конвертим в np_array 
    vec_2 = np.array(vec_2)
    if len(vec_1) != len(vec_2): # если длинна вектора А != длинне вектора B
        return False # выходим из функции вернув False
    for i in range(len(vec_1)): # На протяжении всего первого массива
        if (np.isnan(vec_1[i]) and not np.isnan(vec_2[i])) \ # если элемент с индексом i в первом массиве есть NAN
        \ # а элемент во втором массиве не nan то результат проверки равен True и происходит вход в тело условия 
        or (np.isnan(vec_2[i]) and not np.isnan(vec_1[i])): # если элемент с индексом i во втором массиве есть NAN...
            return False # ... вернуть False и завершить функцию
    return True # если все ок, вернуть True и завершить функцию

In [69]:
print(NA_position(test_vec1, test_vec2))

val [0.] in vec_1 is NAN: [False]
val [0.] in vec_2 is NAN: [False]
val [22.] in vec_1 is NAN: [False]
val [nan] in vec_2 is NAN: [ True]
False

###  Задание #2

Напишите функцию smart_test, которая получает на вход dataframe с двумя номинативными переменными с произвольным числом градаций. Функция должна проверять гипотезу о независимости этих двух переменных при помощи критерия хи - квадрат или точного критерия Фишера.

Если хотя бы в одной ячейке таблицы сопряженности двух переменных меньше 5 наблюдений, функция должна рассчитывать точный критерий Фишера и возвращать вектор из одного элемента: получившегося p - уровня значимости.

Если наблюдений достаточно для расчета хи-квадрат (во всех ячейках больше либо равно 5 наблюдений), тогда функция должна применять критерий хи-квадрат и возвращать вектор из трех элементов: значение хи-квадрат, число степеней свободы,  p-уровня значимости.

In [74]:
from scipy import stats
# from sklearn.datasets import load_iris
import seaborn as sns

In [76]:
test = sns.load_dataset('iris')

In [77]:
test

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]