In [68]:
import pandas as pd
import numpy as np

###  Задание #1

В большинстве случаев от вас потребуется написать функцию для выполнения различных статистических операций. Давайте разберем пример задания:

Напишите функцию NA_position, которая получает на вход два числовых вектора одинаковой длины. Функция должна возвращать TRUE, если позиции NA в обоих векторах совпадают или пропущенных значений вообще нет, и значение FALSE, если позиции NA в векторах не совпадают.

In [62]:
test_vec1 = pd.DataFrame([0, 22, 9, 22, 3, np.nan])
test_vec2 = pd.DataFrame([0, np.nan, 9, 22, 3, np.nan])

In [15]:
print(np.c_[test_vec1, test_vec2])

[[ 0.  0.]
 [nan 33.]
 [ 9.  9.]
 [22. 22.]
 [ 3.  3.]
 [nan nan]]

In [66]:
def NA_position(vec_1, vec_2): # принимаем два вектора
    vec_1 = np.array(vec_1) # конвертим в np_array 
    vec_2 = np.array(vec_2)
    if len(vec_1) != len(vec_2): # если длинна вектора А != длинне вектора B
        return False # выходим из функции вернув False
    for i in range(len(vec_1)): # На протяжении всего первого массива
        if (np.isnan(vec_1[i]) and not np.isnan(vec_2[i])) \ # если элемент с индексом i в первом массиве есть NAN
        \ # а элемент во втором массиве не nan то результат проверки равен True и происходит вход в тело условия 
        or (np.isnan(vec_2[i]) and not np.isnan(vec_1[i])): # если элемент с индексом i во втором массиве есть NAN...
            return False # ... вернуть False и завершить функцию
    return True # если все ок, вернуть True и завершить функцию

In [69]:
print(NA_position(test_vec1, test_vec2))

val [0.] in vec_1 is NAN: [False]
val [0.] in vec_2 is NAN: [False]
val [22.] in vec_1 is NAN: [False]
val [nan] in vec_2 is NAN: [ True]
False

###  Задание #2

Напишите функцию smart_test, которая получает на вход dataframe с двумя номинативными переменными с произвольным числом градаций. Функция должна проверять гипотезу о независимости этих двух переменных при помощи критерия хи - квадрат или точного критерия Фишера.

Если хотя бы в одной ячейке таблицы сопряженности двух переменных меньше 5 наблюдений, функция должна рассчитывать точный критерий Фишера и возвращать вектор из одного элемента: получившегося p - уровня значимости.

Если наблюдений достаточно для расчета хи-квадрат (во всех ячейках больше либо равно 5 наблюдений), тогда функция должна применять критерий хи-квадрат и возвращать вектор из трех элементов: значение хи-квадрат, число степеней свободы,  p-уровня значимости.

In [74]:
from scipy import stats
# from sklearn.datasets import load_iris
import seaborn as sns

In [115]:
test = pd.DataFrame([np.random.randint(0,2, size=50), np.random.randint(0,2, size=50)]).T
test = test.rename(columns={0:'A', 1: 'B'})
test = test.replace({0:'Yes', 1: 'No'})

In [116]:
test.head(1)

      A    B
0    No   No
1   Yes   No
2    No   No
3    No  Yes
4    No  Yes
5    No   No
6   Yes  Yes
7    No   No
8   Yes  Yes
9    No  Yes
10   No   No
11   No  Yes
12   No  Yes
13   No  Yes
14  Yes  Yes
15   No   No
16  Yes  Yes
17   No  Yes
18   No  Yes
19  Yes   No
20   No  Yes
21   No   No
22  Yes   No
23  Yes   No
24  Yes   No
25  Yes   No
26   No  Yes
27  Yes  Yes
28   No  Yes
29   No   No
30  Yes   No
31  Yes  Yes
32  Yes   No
33  Yes  Yes
34  Yes  Yes
35  Yes  Yes
36   No   No
37  Yes  Yes
38  Yes   No
39   No  Yes
40   No   No
41   No   No
42  Yes   No
43  Yes   No
44  Yes  Yes
45   No   No
46  Yes  Yes
47   No   No
48  Yes  Yes
49   No  Yes

In [83]:
pd.crosstab(test.diet, test.kind)

kind     rest  walking  running
diet
no fat     15       15       15
low fat    15       15       15